<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Appium">

    <test name="Pixel">

        <parameter name="platform" value="android"/>

        <classes>
            <class name="AVTest">
                <methods>
                    <include name="exampleTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>